/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/




/*

Palette
#783c55 - colour1
#cb666b - colour2
#dc9e76 - colour3
#fbf2d1 - colour4 (or 1st bg)

*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background-color: #fff;           /* 1st bg colour   */
  letter-spacing: 0.3px;
}

body.active {
  overflow: hidden;
  z-index: -1
}

p {
  display: inline;
}

.boldlinks a{
  text-decoration: none;
  color: #783c55;
  font-weight: bold;
}

.boldlinks a:hover{
  text-decoration: none;
  color: #cb666b;
  font-weight: bold;
}

body a:active{
  text-decoration: none;
  color: #783c55;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.no-js #experience-timeline>div {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcd9d9
}

.no-js #experience-timeline>div h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  display: inline-block;
  margin: 0
}

.no-js #experience-timeline>div h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #7e8890;
  margin: 0 0 15px 0
}

.no-js #experience-timeline>div p {
  color: #74808a;
  font-size: 0.9em;
  margin: 0
}

.no-js #experience-timeline:before, .no-js #experience-timeline:after {
  content: none
}

@keyframes dropHeader {
  0% {
    transform: translateY(-100%)
  }

  100% {
    transform: translateY(0)
  }
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;
  font-weight: 400;
}

header ul {
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

header li {
  display: inline-block;
}

header a {
  display: block;
  color: #783c55;
  padding: 0 10px 0 10px;
}

header a:hover {
  color: #cb666b;
  text-decoration: none;
  background: #eee;
  border-radius: 4px
}

header a:focus {
  color: #cb666b;
  text-decoration: none
}

header.active {
  display: block
}

header.sticky {
  position: fixed;
  z-index: 999
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

#menu {
  z-index: 30;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#menu.active {
  display: block;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#menuX {
    position: absolute;
    right: 10px;
    top: 10px;
    overflow: hidden;
    height: 35px;
    width: 35px;  /* maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999999;
    cursor: pointer;
    border: 4px solid #fff;
    border-radius: 4px;
    background-color: #fff;
}

#menuX::before, #menuX::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: #783c55;
}

#menuX::before {
    transform: rotate(45deg);
}

#menuX::after {
    transform: rotate(-45deg);
}

#mobile-otherpages-back {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
  height: 35px;
  width: 35px;  /* maintain 1:1 aspect ratio */
  color: #783c55;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
  font-weight: normal;
}

#mobile-otherpages-back a:hover{
  color: #cb666b;
}

#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 10px;
  color: #783c55;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
  font-weight: normal;
}

#mobile-menu-close {
  display: none;
  text-align: right;
  font-size: 1.5em;
  padding-right: 33px;
  padding-top: 6px;
  color: #783c55
}

#mobile-menu-bg {
  display: none;
  position: absolute;
  float: left;
  top: 0px;
  left: 0px;
  overflow: hidden;
  background: #dc9e76;
  width: 100%;
  height: 100%;
  z-index: -999;
  pointer-events: none;
}

#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase
}

#mobile-menu-close i {
  vertical-align: middle;
}

footer {
  padding: 50px 0
}

.copyright {
  padding-top: 20px
}

.copyright p {
  margin: 0;
  color: #783c55
}

.top {
  text-align: center
}

.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #b9bfc4;
  text-align: center
}

.top i {
  color: #74808a
}

.social {
  text-align: right
}

.social ul {
  margin: 5px 0 0 0;
  padding: 0
}

.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none
}

.social a {
  display: block;
  color: #cb666b;
  padding: 10px
}

.social a:hover {
  color: #783c55
}

.btn-rounded-white {
  display: inline-block;
  color: #fff;
  padding: 15px 25px;
  border: 3px solid #fff;
  border-radius: 30px;
  transition: .5s ease all
}

.btn-rounded-white:hover {
  color: #783c55;
  background: #fff;
  text-decoration: none;
  font-weight: bold;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0
}

.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #cb666b
}

.background-alt {
  background: #fbf2d1           /* 2nd bg colour */
}

#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../images/lead-bg.jpg");
  background-size: cover;
  padding: 15px;
  overflow: hidden
}

#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

#lead-content h1, #lead-content h2 {
  margin: 0
}

#lead-content h1 {
  color: #fff;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em
}

#lead-content h2 {
  color: #783c55;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px
}

#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(220, 158, 118, 0.8);
  z-index: 1
}

#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #fff
}

#lead-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #cb666b;        /* colour2 */
  text-align: center
}

#lead-down i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px
}

@keyframes pulsate {
  0% {
    transform: scale(1, 1)
  }

  50% {
    transform: scale(1.2, 1.2)
  }

  100% {
    transform: scale(1, 1)
  }
}

#about {
  padding: 75px 15px;
  border-bottom: 1px solid #dcd9d9
}

#about h2 {
  color: #783c55
}

#about p {
  color: #74808a;
  margin: 0
}

#experience {
  padding: 50px 15px;
  text-align: center;
  border-bottom: 1px solid #dcd9d9
}

#experience h2 {
  color: #783c55
}

#experience-timeline {
  margin: 30px auto 0 auto;
  position: relative;
  max-width: 1000px
}

#experience-timeline:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 303px;
  right: auto;
  height: 100%;
  width: 3px;
  background: #783c55;
  z-index: 0
}

#experience-timeline:after {
  position: absolute;
  content: '';
  width: 3px;
  height: 40px;
  background: #783c55;
  background: linear-gradient(to bottom, #783c55, rgba(120, 60, 85, 0)); /* ACHEI */
  top: 100%;
  left: 303px
}

.vtimeline-content {
  margin-left: 350px;
  background: #fff;
  border: 1px solid #e6e6e6;
  padding: 15px;
  border-radius: 3px;
  text-align: left
}

.vtimeline-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #783c55;
  display: inline-block;
  margin: 0
}

.vtimeline-content h4 {
  font-size: 1.2em;
  font-weight: 300;
  color: #783c55;                     /* colour1 */
  margin: 0 0 15px 0
}

.vtlcontent {
  color: #74808a;
  font-size: 0.9em;
  margin: 0
}

.vtimeline-point {
  position: relative;
  display: block;
  vertical-align: top;
  margin-bottom: 30px
}

.vtimeline-icon {
  position: relative;
  color: #fff;                      /* bg2 */
  width: 50px;
  height: 50px;
  background: #783d56;                 /* colour1  */
  border-radius: 50%;
  float: left;
  z-index: 99;
  margin-left: 280px
}

.vtimeline-icon i {
  display: block;
  font-size: 2em;
  margin-top: 10px
}

.vtimeline-date {
  width: 260px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: 300;
  color: #783d56                      /* colour1  */
}

#education {
  padding: 50px 15px 20px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center
}

#education h2 {
  color: #783c55;
  margin-bottom: 50px
}

.education-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  text-align: left;
  background: #fff;
}

.education-block h3 {
  font-weight: 500;
  float: left;
  margin: 0;
  color: #374054
}

.education-block span {
  color: #74808a;
  float: right
}

.education-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.education-block p, .education-block ul {
  margin: 0;
  color: #74808a;
  font-size: 0.9em
}

.education-block ul {
  padding: 0 0 0 15px
}


/* DISPLAY ARTES  */

#imagemampliada {
  display: none;
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  position:absolute;
  overflow: hidden;
  user-select:none;
}

#imagemampliada i {
  cursor: pointer;
  font-size: 3em;
}

#imagemampliada img {
  pointer-events: none;
}

#X {
    position: absolute;
    right: 30px;
    top: 30px;
    overflow: hidden;
    height: 30px;
    width: 30px;  /* maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 999999;
    cursor: pointer;
    border: 4px solid #eee;
    border-radius: 50%;
    background-color: #eee;
}

#X::before, #X::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px; /* cross thickness */
    background-color: #000;
}

#X::before {
    transform: rotate(45deg);
}

#X::after {
    transform: rotate(-45deg);
}

#full0, #full1, #full2, #full3, #full4, #full5, #full6, #full7, #full8 {
  display: none;
  max-width: 93%;
  max-height: 93%;
  z-index: 0;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: high-quality;
}

#works {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  user-select:none;
}

#works h2 {
  color: #783c55;
  margin-bottom: 50px;
  user-select:text;
}

.work {
  position: relative;
  display: inline-block;
  overflow: hidden;
  background: #fbf2d1;                         /* colour4 */
  margin: 30px 30px;
  padding: 0;
  max-width: 300px;
  border-radius: 4px;
}

.work-thumb {
  float: left;
  position: relative;
  margin: 0;
  top: auto;
  transform: none;
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
}

.work-thumb img {
    max-width: 300px;
    object-fit: cover;
    user-select:none;
}

#seemore {
  vertical-align: middle;
}

#seemore a{
  color: #dcd9d9;
}

#seemoretext {
  display: inline;
  color: #783c55;
  padding-right: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: lighter;
}

#seemoretext a {
  text-decoration: none;
}

#seemoretext a:hover {
    text-decoration: none;
    color: #dcd9d9;
}

#seemorearrow {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 3px solid #783c55;
  transform: rotate(-90deg);
}

.arrow {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px;
  justify-content: center;
  color: #783c55;
}

/* FIM DISPLAY ARTES */

#projects {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center
}

#projects h2 {
  color: #783c55;
  margin-bottom: 50px
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px
}

.project-image {
  float: left;
}

.project-image h3 {
  display: none
}
.project-image img {
  max-width: 300px;
}

.project-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px
}

.project-info h3 {
  font-size: 1.8em;
  font-weight: 300;
  color: #374054;
  margin: 0 0 15px 0
}

.project-info p {
  color: #74808a;
  margin: 0 0 15px 0;
  font-size: 0.9em
}
/*
.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none
}*/

#more-projects {
  display: none
}

#skills {
  padding: 50px 15px;
  text-align: center;
  background: #fff;
}

#skills h2 {
  color: #374054;
  margin-bottom: 50px
}

#skills ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px
}

#skills li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 1.2em
}

#contact {
  padding: 50px 15px;
  background: #783c55;
  text-align: center
}

#contact h2 {
  margin: 0 0 15px 0;
  color: #fff;
  font-weight: 500
}

#contact-form {
  max-width: 500px;
  margin: 0 auto
}

#contact-form input, #contact-form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #dc9e76;
  color: #fff;
  transition: .5s ease all
}

#contact-form input::-webkit-input-placeholder, #contact-form textarea::-webkit-input-placeholder {
  color: #fff
}

#contact-form input:-moz-placeholder, #contact-form textarea:-moz-placeholder {
  color: #fff;
  opacity: 1
}

#contact-form input::-moz-placeholder, #contact-form textarea::-moz-placeholder {
  color: #fff;
  opacity: 1
}

#contact-form input:-ms-input-placeholder, #contact-form textarea:-ms-input-placeholder {
  color: #fff
}

#contact-form input:focus, #contact-form textarea:focus {
  outline: none;
  background: #cb666b
}

#contact-form textarea {
  height: 150px;
  resize: none
}

#contact-form button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #783c55;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: .5s ease all
}

#contact-form button:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.optional-section {
  padding: 50px 15px;
  text-align: center;
  border-top: 1px solid #dcd9d9
}

.optional-section h2 {
  color: #374054
}

.optional-section-block {
  max-width: 700px;
  margin: 0 auto 30px auto;
  padding: 15px;
  border: 1px solid #dcd9d9;
  background: #fff;
  text-align: left
}

.optional-section-block h3 {
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #374054
}

.optional-section-block h4 {
  color: #74808a;
  clear: both;
  font-weight: 500;
  margin: 0 0 15px 0
}

.optional-section-block p, .optional-section-block ul {
  margin: 0 0 15px 0;
  color: #74808a;
  font-size: 0.9em
}

.optional-section-block ul {
  padding: 0 0 0 15px
}

@media only screen and (max-width: 750px) {
  #experience-timeline:before, #experience-timeline:after {
    left: 23px
  }

  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px
  }

  .vtimeline-icon {
    margin-left: 0
  }

  .vtimeline-content {
    margin-left: 70px
  }
}

@media only screen and (max-width: 992px) {

  /* Hide works beyond 6 */

    #w6, #w7, #w8, #w9 {
      display: none;
    }


  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px
  }

  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto
  }

  #lead-content h1 {
    font-size: 3em
  }

  #lead-content h2 {
    font-size: 1.75em
  }

  #about {
    text-align: center
  }

  #about p {
    text-align: left
  }
}

@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 30;
    animation: none;
    bottom: 0;
    height: 100%;
  }



  /* PRA PÁGINA NÃO QUEBRAR PELO AMOR DE DEUS */
    .work img {
     max-width: 270px;
    }

    .project {
      max-width: 270px;
    }

    .project-image {
      max-width: 270px;
    }
    .project-image img {
      max-width: 270px;
    }
  /* ATÉ AQUI */

  /* Hide works beyond 5 */

  #w6, #w7, #w8, #w9 {
    display: none;
  }

  header ul {
    background: transparent;
    width: 50%;
    padding-left: 20%;
    padding-right: 20%;
  }

  header a {
    text-align: center;
    display: block;
  }

  #mobile-menu-open, #mobile-menu-close, #mobile-menu-bg, #mobile-otherpages-back {
    text-align: center;
    display: block;
  }

  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }

  #menu p {
    font-size: clamp(10px, 10px + 1vw, 20px);
    line-height: 3.0;
    letter-spacing: 2px;
  }

  #menu li {
    display: block;
    margin-bottom: clamp (-20px, -10px, 0px);
    letter-spacing: 2px;
  }

  #lead-content h1 {
    font-size: 2em
  }

  #lead-content h2 {
    font-size: 1.3em
  }

  #lead-content a {
    padding: 10px 20px
  }

  #lead-down {
    display: none
  }

  .education-block h3, .education-block span {
    float: none
  }

  .project {
    display: inline-block;
    margin: 30px 30px;
    padding: 0;
    width: 300px;
  }

  .project-info {
    display: none
  }

  .project-info h3 {
    display: none
  }

  .project-image {
    position: relative;
    margin: 0;
    top: auto;
    transform: none
  }

  .project-image h3 {
      display: block;
      text-align: center;
      font-size: 1.5em;
      font-weight: 300;
      color: #374054;
      margin: 20px 0 15px 0
    }


  footer {
    text-align: center
  }

  .social {
    text-align: center
  }
}

@media only screen and (max-width: 680px) {


  #w5, #w6, #w7, #w8, #w9 {
    display: none;
  }

  #X {
      position: absolute;
      right: 10px;
      top: 10px;
  }

/* PRA PÁGINA NÃO QUEBRAR PELO AMOR DE DEUS */
  .work img {
   max-width: 260px;
  }

  .project {
    max-width: 260px;
  }

  .project-image {
    max-width: 260px;
  }
  .project-image img {
    max-width: 260px;
  }
/* ATÉ AQUI */




  #lead-content h1 {
    font-size: 1.5em
  }

  #lead-content h2 {
    font-size: 1em
  }

  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px
  }
}




/* BARRA DE ROLAGEM */

/* width */
::-webkit-scrollbar {
  width: 10px;
  -webkit-animation-name: fade; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.7s; /* Safari 4.0 - 8.0 */
  animation-name: fade;
  animation-duration: 0.7s;
  background-color: none;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #222;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #222;

}
